@import '../../variables';

.header {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;

    &-left,
    &-right {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 380px;
    }

    & .city-selector {
        display: flex;
        align-items: center;
        user-select: none;

        &-location-ico {
            stroke: $orange;
            width: 20px;
            height: 20px;
            stroke-width: 0;
        }

        &-text {
            display: inline-block;
            margin: 0 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            cursor: pointer;
        }

        &-arrow-ico {
            stroke: $black;
            width: 12px;
            height: 7px;
            stroke-width: 0;
        }
    }
}