.close-btn {
    color: white;
    border: none;
    font-family: auto;
    background: transparent;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 60px;
    cursor: pointer;
}